name: build-ubuntu

on:
  push:
  release:
  pull_request:
    branches:
      - master

jobs:
  build-release:
    name: Linux build
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: Release
    strategy:
      fail-fast: false
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          path: landstalker_disasm

      - name: Archive sources
        working-directory: ${{github.workspace}}/
        shell: bash
        run: tar zvcf landstalker_disasm_sources.tar.gz landstalker_disasm/

      - name: Install Dependencies
        shell: bash
        run: |
             sudo apt-get update
             sudo apt-get install -y \
                python3 \
                build-essential

      - name: Install Wine
        shell: bash
        run: |
             sudo dpkg --add-architecture i386
             sudo mkdir -pm755 /etc/apt/keyrings && sudo wget -O /etc/apt/keyrings/winehq-archive.key https://dl.winehq.org/wine-builds/winehq.key
             sudo wget -NP /etc/apt/sources.list.d/ https://dl.winehq.org/wine-builds/ubuntu/dists/jammy/winehq-jammy.sources
             sudo apt-get update
             sudo apt install --install-recommends winehq-stable

      - name: Build US Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r US -o landstalker_us.bin | tee build_landstalker_us.log

      - name: Build Expanded US Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r US -e -o landstalker_us_expanded.bin | tee build_landstalker_us_expanded.log

      - name: Build JP Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r JP -o landstalker_jp.bin | tee build_landstalker_jp.log

      - name: Build JP Expanded Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r JP -e -o landstalker_jp_expanded.bin | tee build_landstalker_jp_expanded.log

      - name: Build EUR Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r EUR -o landstalker_eur.bin | tee build_landstalker_eur.log

      - name: Build EUR Expanded Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: ./build.sh -r EUR -e -o landstalker_eur_expanded.bin | tee build_landstalker_eur_expanded.log

      - name: Verify US Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: F37C" build_landstalker_us.log
             echo ad9f49cf2d528ee40fab74f8687ed908036873e54a7dd30c5dc32286c29fc614 landstalker_us.bin | sha256sum -c

      - name: Verify US Expanded Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: 2CDF" build_landstalker_us_expanded.log
             echo 94c4dddaaaee3c196523dc579c82bbe8f220b98216b1f9199ae9787dc32a86a2 landstalker_us_expanded.bin | sha256sum -c

      - name: Verify JP Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: 35A6" build_landstalker_jp.log
             echo d0c2080a7890bd908dcb698173266d2326e7bba8f701afba1104c9e67d6c116a landstalker_jp.bin | sha256sum -c

      - name: Verify JP Expanded Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: 8100" build_landstalker_jp_expanded.log
             echo 5632fedb26b4f7d2604469e8350f02e17044762c4a0d9c3af79881362e7b08b5 landstalker_jp_expanded.bin | sha256sum -c
  
      - name: Verify EUR Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: 2482" build_landstalker_eur.log
             echo 1db4914301afc14beb1f66090cda12be943355d5083d61056492aeb18e8d581f landstalker_eur.bin | sha256sum -c

      - name: Verify EUR Expanded Landstalker ROM
        working-directory: ${{github.workspace}}/landstalker_disasm
        shell: bash
        run: |
             grep "Checksum: B5BC" build_landstalker_eur_expanded.log
             echo aa5dec676eeeefac4f3a52fd3fc5b5506e1d674c69764e74a4b9a2a6e7dd50f1 landstalker_eur_expanded.bin | sha256sum -c
